body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.landing-container {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  background-size: cover;
  color: white;
}

  /* background: rgba(139, 135, 135, 0.177); */
  /* -webkit-backdrop-filter: blur(20px); */
  /* backdrop-filter: blur(15px); */

.input-card {
  border: 1px solid white;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.489); 
  padding: 5%;
  width: 55%;
  display: flex;
  justify-content: center; 
  align-items: center;
  box-shadow: 0 0 60px rgba(126, 20, 134, 0.518);
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%; 
  gap: 1rem;
  align-items: center; 
}

.card-content > div,
.card-content > button {
  width: 100%; 
  display: flex;
  justify-content: center;
}

 input{
  width: 120% !important;
  background-color: rgba(39, 38, 38, 0.253) !important;
  color: white !important;
  padding: 0.5em !important;
  border: 1px solid white !important; 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 2s ease-in-out;
}

.logo-container.fade-out {
  opacity: 0;
}

.fade-in-slow {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.breach-card{
  
}

