
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.landing-container {
  padding-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: url('./assets/bg.jpg') no-repeat center center; */
  background: black;
  background-size: cover;
  color: white;
}

.input-card{
  border: 1px solid white;
  border-radius: 1em;
  background-color: black !important; 
  padding: 5%;
  width: 55%;
  display: flex !important;
  justify-content: center !important; 
  align-items: center !important;/* App.css */

  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .landing-container {
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black; /* Adjust background as needed */
    background-size: cover;
    color: white;
  }
  
  .input-card {
    border: 1px solid white;
    border-radius: 1em;
    background-color: rgb(0, 0, 0); 
    padding: 5%;
    width: 55%;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 80px rgba(174, 32, 185, 0.2);
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    width: 100%; 
    gap: 1rem;
    align-items: center; 
  }
  
  .card-content > div,
  .card-content > button {
    width: 100%; 
    display: flex;
    justify-content: center;
  }
  
  .card-content > div > input {
    width: 100%; 
  
    color: white;
  }
  
  #email1 {
    width: 100%;
  }
  
  box-shadow: 0 0 80px rgba(174, 32, 185, 0.2);
}

#email1{
  width:200%;
  background-color: rgba(62, 59, 59, 0.251);
  color: white;
  border-radius: 1.2em;
}